<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Page Acteur</title>
  <link rel="stylesheet" href="{{asset ('css/bootstrap.css')}}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
 <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <a class="navbar-brand" href="#">Cinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('Acteur')}}">Acteur</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('film')}}">Film</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('genre')}}">Genre</a>
                        </li>
                        
                        
                        
                        
                    </ul>
                    
                </div>
            </nav>
            <br><br>
            <div class="row">
    <div class="col-md-4">
    <h3>Ajouter un acteur</h3>
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    
        <div class="form-group">
            {{ form_row(form.nomPrenom,
            {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
            {{ form_row(form.dateNaissance,
            {'attr':{'class':'form-control'}}) }}
        </div>
         <div class="form-group" id="some-custom-id">
            {{ form_row(form.nationalite,
            {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group" id="some-custom-id">
         <label>Film Joué :</label>    
        
        <SELECT class="form-control" name="FILM" size="1">
        {% for F in film %}
        
                <OPTION>{{F.titre}}
              {% endfor %}  
        </SELECT>
           
        </div>
        
        <div class="form-group" id="some-custom-id">
            {{ form_row(form.Enregistrer,
            {'attr':{'class':'form-control'}}) }}
        </div>
   
{{ form_end(form) }}
    </div>
    <div class="col-md-7">
<h2>Liste des Acteurs</h2>
<br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        
        
  
            <tr>
                <th>ID</th>
                <th>Nom et prenom</th>
                <th>Date de naissance</th>
                <th>Nationalité</th>
                <th>Films joués</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for A in acteur %}
                <td>{{ A.id }}</td>
                <td>{{ A.nomPrenom }}</td>
                <td>{{ A.dateNaissance|date('Y-m-d') }}</td>
                <td>{{ A.nationalite }}</td>
                <td>{{ A.film.titre|default('Aucun Film joué') }}</td>
                <td><a href="{{ path('acteurEdit',{'id':A.id}) }}"><i class="fa fa-edit" style="font-size:26px"></i></a>
                <a href="{{ path('acteurDel',{'id':A.id}) }}"><i style="font-size:26px;color:red" class='material-icons'>delete</i></a>
                </td>
            </tr>
              {% endfor %}
          
        </tbody>
        <tfoot>
           <tr>
                <th>ID</th>
                <th>Nom et prenom</th>
                <th>Date de naissance</th>
                <th>Nationalité</th>
                <th>Films joués</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>

        </div>



</body>
</html>
